body{
	margin: 0;
	font-family: barlow, raleway, verdana, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

/*header styles*/

header{
	background-color: #505c7c;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
header:hover{
	background-color: #282e3c;
}
header:hover h1{
    color: white;
}
header:hover img{
	border-color: white;
}

header h1{
	color: #1a1a1a;
	font-size: 50px;
}

header img{
	border-radius: 170px;
	height: 300px;
	border: 20px solid #1a1a1a;
}

h1, h2{
	font-family: 'Titillium Web', sans-serif;
}

h2{
	font-size: 35px;
	color: #282e3c;
	margin: 40px 0 10px;
}

/*main styles*/

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

a{
	color: #505c7c;
}
a:hover{
	color: #fde311;
	background-color: #505c7c;
	padding: 0 5px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 25px;

}

/*footer styles*/

footer{
	background-color: #505c7c;
	text-align: center;
	padding: 10px;
	color: white;
}

footer p{
	margin: 0;
}

footer a{
	color: #fde311;
}
footer a:hover{
	color: #505c7c;
	background-color: #fde311;
	padding: 0px;
	font-family: barlow, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

p.caption{
	color: #c3c3c3;
	font-size: 16px;
	font-style: italic;
	text-align: right;
	margin-top: 0;
}